
.tab-component{
    height: 350px;
    width: 100%;
    overflow: auto;
}

.tab-1-icon{
    color: green !important;

}

.tab-2-icon{
    color: red !important;
}


.MuiBox-root{
    padding: 0 !important;
}