
.FormularioDadosPessoais  {

padding: 5px;
margin: 20px;


}

#first{
    margin-top: 0px !important;
}

.FormularioDadosPessoais .input{
    display: flex;
    margin-top: 60px;
    min-width: 300px;
    margin-left: 10px;
}

.FormularioDadosPessoais .input-double{
    display: flex;
}

.FormularioDadosPessoais .MuiTextField-root{
    min-width: 350px !important;
}

.FormularioDadosPessoais .footer{
margin-top: 60px;
height: 40px;
}