.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
}

.link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
}

.login {
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #818181;
  margin-top: 38px;
  margin-right: 18px;
}

.cadastro {
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #744D9C;
  margin-top: 38px;
  margin-right: 47px;
}

.containerLogin {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #818181;
  padding-bottom: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 16px 16px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  width: 404px;
  height: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerBtn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divInput {
  margin-left: 10px;
  margin-right: 10px;
  width: 85%;
}

.button {
  width: 225px;
  height: 34px;
  background: #744D9C;
  border-radius: 50px;
  margin-top: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
