#infografico{
    min-width: 1280px;
    width: 1280px;
    height: 1090px;
    background-color: #bd94ec  !important;
    padding: 10px;

   

}

.Download-Bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.Area-Content{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    height: 1050px;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#infografico .logo-img{
    width: 120px !important;
    height: 120px !important;
}

#infografico .container-titulo .title{
    color: white !important;
    font-size: 16px;
    font-weight: bolder;
}

#infografico .Logo-Space{
    align-items: center;
    margin-left: 10px;
    width: 300px;
    
}

#infografico .LogoEstabelecimento-Space{
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    width: 300px;
    
}
 

.container-tituloo p {
    color: grey;
font-weight: bold;
} 

#infografico .Head-Space{
    display: flex;
justify-content: space-between;
    margin-left: 10px;
    width: 100%;
}


.container-img{
    width:120px;
    
    margin: 0 auto;
}
.container-titulo{
    text-align: center;
    margin: 0 auto;
    background-color: #7954a3;
    border-radius: 20px;
}

.container-tituloo{
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
}

.container-titulo-estabelecimento .title{
    color: #7954a3 !important;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 20px;
}




.imgContainer{
    display: flex;
    justify-content: center;
    
}

.Canvas{
    display: flex;
    justify-content: center;
}
