.Main-Loading-Component{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.8;
    left: 0;
    top: 0;
    z-index: 9999999999;
    overflow: hidden;
    background-color:black;
}

.spinner-bar{
    width: 60px !important;
    height: 60px !important;
    top: 45% !important;
    opacity: 1 !important;
        left: 47% !important;
    position: fixed !important;
    
}