.Fontes2Card{
    width: 100%;
    height: 500px;
    background-color: white;
    padding: 10px;
}

.ItensFont2{
}

.ItemFont2{
    padding: 10px;
    justify-content: space-between;
    display: flex;
    height: 60px;
    align-items: center;
}
.iconFont2 .icon{
    width: 20px;
    margin: 10px;
    color:#616161;
}

.iconFont2 .icon2{
    width: 20px;
    
    margin: 10px;
    color:#616161;
}


.NameItemFont2{
    font-size: 0.6vw;
    margin: 10px;
    margin-top: 15px;
}
.NumberFont2{
    font-size: 1vw;
    margin: 10px;
}

.ProfitFont2{
    font-size: 1vw;
    margin: 10px;
}

.IconNameFont2{
    width: 300px;
    display: flex;
}