
/*body{*/
/*  background-color: white !important;*/
/*}*/

.content {
  background-color: white !important;
  font-family: 'Allerta', sans-serif;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
}


.header{
  border-bottom: #744D9C;
  width: 90%;
  border-top-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-left-width: 0;
  border-right-width: 0;
  line-height: 40px;
  display: flex;
  color: black;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 5%;
  padding-top: 20px;
}


.print {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  width: 800px;
  height: 1120px;
}

.titleRelatorio{
  font-size: 30px;
  padding-top: 50px;
}

.page1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.name {
  color: #744D9C;
  margin-top: 20px;
  font-size: 25px;
}


.containerTitle{
  display: flex;
  align-items: center;
  font-family: Roboto;
}

.titleHeader{
  margin-left: 10px;
}

.listItem{
  /*border: 1px solid black;*/
  padding-left: 20px;
  padding-right: 20px;
}

.listItemText{
  text-align: justify;
  border-bottom: 2px solid #7954a3;
  padding-bottom: 10px;
}

.row{
  background-color: #EDF0F5;
  height: 1px;
  margin-top: 20px;
}

.incluirTodos{
  margin-top: 40px;
}

.item{
  border:1px solid  #818181;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.titleItem{
  margin-left: 10px;
}

.sitesComentados{
  margin-top: 40px;
  text-align: justify;
  margin-left: 100px;
}

.btn{
  height: 30px;
  background-color: #744D9C;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
  padding: 10px;
  font-family: 'Allerta', sans-serif;
}

.generationReport{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnGeneration{
  background-color: #744D9C;
  color: white;
  padding: 10px;
  margin-top: 60px;
  cursor: pointer;
}
