.card_filtro_caracterstica{
    background-color: white !important;

    border-radius: 10px;
  

    
    width: 100%;

    overflow: hidden;
    min-width: 60px;
    color: #7954a3 !important;
    height: 80px;

    
}
.filtro_caracteristica{
    margin-top: 5px;
    text-align: center;
    
  margin: 0 auto;
  
    font-size: 10px !important;
}
.filtro_caracteristica item{
  display: flex;
  font-size: 8 !important;
  padding: 0 !important;
}
.filtro_caracteristica .MuiFormControlLabel-label{
    font-size: 9px !important;
}
.card_filtro_caracterstica .legenda{
    text-align: center;
    color: #616161 !important;
}

.filtro_caracteristica .item-classificador{
    display: flex !important;
    width: 100%;
}

.item-classificador .item{
    padding: 0 !important;
}

.filtro_caracteristica .item-classificador .item .MuiTypography-root{
font-size: 9px !important;
color:#616161 !important;
}

.filtro_caracteristica .item-classificador .item .MuiRadio-root{
    color:#616161 !important;
}

.tituloCard-caracteristica{
    color: #616161;
    font-size: 10px !important;
}