.name .plataforma::first-letter{
        text-transform:capitalize !important;

}
.name .plataforma{
        font-size: 12px;
        color: #616161 !important;
        font-weight: bolder;
}
.PrincipaisPerfis{
        width: 100%;
        display: flex;
        align-items: center;
        overflow: auto;
    }
    .PositiveIcon{
        color: #01a561;
        font-size: 16px !important;
        
    }
    .NegativeIcon{
        color: #ff6767;
        font-size: 16px !important;
    }
    .teor{
            font-size: 12px !important;
            color:#616161 !important;
            font-weight: bolder;
    }
    .PrincipaisPerfis .name{
        overflow: hidden;
        width: 110px;
        height: 20px;

    }
    .MuiBadge-root .number{
     font-size: 12px;
     color:#616161;
     padding: 0px;
    }
    .MuiBadge-root .teor{
        padding: 0px;
        margin-left: 0px;
        margin-right: 5px !important;
    
       }
    
    .coluna_dados{
    display:flex;
    justify-content: flex-start !important;
       }


       .number{width: 40px;}