/* .Main-Icon{
    font-size: 18px !important;
    margin-left: 10px;
    margin-right: 10px;
    color: grey !important;
}
.Second-Icon{
    color: grey;

}
.Comentario-Content{
    display: flex;
}

.Titulo-Comentario-Data{
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Titulo-Comentario-Data .MuiTypography-root
{
font-size: 14px !important; 

}
.data-comentario .MuiTypography-root{
    font-size: 12px !important; 
}

.url .MuiTypography-root{
    display: flex;
    font-size: 12px !important; 
    
}
.Description{
    height: 100px !important;
    margin-left: 10px;
    margin-top: 0px;
    overflow: hidden;
}
.Description .MuiTypography-root{
    font-size: 10px !important; 
}
.main-card-comentario{
    padding: 15px;
    width: 100%;
    height: 250px !important;
    overflow: hidden;
}

.Icon-Row{
    display: flex !important;
}

.row-itens{
    display: flex;
}
.icon-url{
    display: flex;
}

.Second-Icon {
    font-size: 12px !important;
}

.icon-url .fontnegativo{

    font-size: 9px !important;
    color: red !important;
}

.options{
    margin-left: 10px;
    margin-top: 0px;
    display: flex;
}
.checkboxaddrelatorio{
    margin-top: 3px;
}

.contentprincipal{
    width: 100%;
    min-width: 350px;
    margin-top: 10px;
}

.row-itens .avatar{
    width: 80px;
    height: 80px;
}

.seeMore{
    display: flex;
    justify-content: space-between;
    height: 10px;
    width: 100%;
}

.titulo-comentario{
    height: 20px;
    overflow: hidden;
    max-width: 500px;;
} */