.LineChart{
    background-color: white;
}

.OpinionsFontesLineChart{
    background-color: white;
    width: 100% !important;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(56, 56, 56);
}

.legenda{
    padding: 5px;
}
.cardIcon{
    color: #7954a3;
}
.responsiveGraph{
    margin-top: 0px;
}

.recharts-text{
    font-size: 16px;
    fill: mediumaquamarine;
    font-weight: bolder;
}
.recharts-legend-item-text{
    font-size: 17px;
}
.tituloCard{
    font-size: 20px !important;
    padding: 5px;
}

.card-comentarios{
    background-color: white;
    height: 650px;
    padding-top: 20px;
}

.item-classificador{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 5px;
   

}
.item-classificador .item{
    align-items: center;
    justify-content: space-around;
    text-justify: center;
    text-align: center;
    color: grey !important;
    

  
}


.item-classificador .item .MuiTypography-root{
    font-size: 0.7vw;
}

.item-classificador-2{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}



.item-classificador-2 .item .MuiButtonBase-root{
margin: 10px;
}

.PrivateSwitchBase-root-19{
    padding: 0 !important;
}
.item-classificador .item{
    margin-top: 10px !important;
}

.barra_abas{
    margin-top: 0px;
}