.coluna-3-graphs {
  display: flex;
  align-items: center;
  justify-content: center;

}

.colunm {
  width: 600px;
  height: 300px;


}

.colunm2 {
  width: 250px;
  height: 300px;
}

.colunm3 {
  width: 100%;
  height: 300px;
  z-index: 10;
  display: flex;
  justify-content: center;

}

.coluna-1-graph {
  display: flex;
  align-items: center;
  justify-content: center;

}

.comparacao {
  background-color: white;
  width: 100% !important;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(56, 56, 56);
  min-width: 300px;
  height: 682px;
}

.row-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numero {
  color: black;
  padding: 5px;
  font-size: 1.5vw !important;
}

.titulo {
  padding: 4px;
  font-size: 1vw !important;
}

.numero2 {
  padding: 5px;
  font-size: 1.5vw !important;
  color: #379a51;
}

.numero3 {
  padding: 5px;
  font-size: 1.5vw !important;
  color: #de3b3bde;
}

.item {
  margin-top: 10px;
  padding-left: 10px;

}

.icon-color1 {
  color: #379a51 !important;
}

.icon-color2 {
  color: rgba(222, 59, 59, 0.87) !important;
}

.row-3 {
  margin-top: -130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  margin-top: -10px;
}


/* max device width */
@media screen and (max-width: 1300px) {
  .comparacao {
    height: 666px;
  }
}


@media screen and (min-width: 1500px) and (max-width: 1600px) {
  .comparacao {
    height: 676px;
  }
}
