.coluna-3-graphs{
    display: flex;   
    align-items: center;
     justify-content: center;
     
   }
   .colunm{
       width: 600px;
       height: 300px;
   
       
   }
   .colunm2{
       width: 250px;
       height: 300px;
   }
   
   .colunm3{
       width: 100%;
       height: 300px;
       z-index: 10;
       display: flex;
       justify-content: center;
       
   }
   .coluna-1-graph{
       display: flex;   
       align-items: center;
        justify-content: center;
   }
   .comparacao-count-opinions{
       background-color: white;
       width: 100% !important;

       color: rgb(56, 56, 56);
       padding-top: 10px;
   
       
       min-width: 300px;
   
   
       color: rgb(56, 56, 56);
       height: 120px;
   }
   
   .row-1{
       display: flex;   
       align-items: center;
        justify-content: center;
   }
   .numero{
       color: #616161;
       padding: 5px;
       font-size: 20px !important;
   }
   .titulo{
       padding: 4px;
       font-size: 14px !important;
       font-weight: bolder !important;
       color: #616161;
   }
   .numero2{
       padding: 5px;
       font-size: 20px !important;
       color:#379a51;
   }
   .numero3{
       padding: 5px;
       font-size: 20px !important;
       color: #de3b3bde;
   }
   .item{
       margin-top: 10px;
       padding-left: 10px;
       
   }
   .icon-color1{
   color: #379a51 !important;
   }
   .icon-color2{
       color: rgba(222, 59, 59, 0.87) !important;
       }
   
       .row-3{
           margin-top: -130px;
           display: flex;   
           align-items: center;
            justify-content: center;
       }
       .divider{
           margin-top: -10px;
       }
   

