.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  width: 100%;
}

.input {
  margin-top: 30px !important;
  width: 100% !important;
}

.containerBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.button {
  width: 225px;
  height: 34px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 31px;
  cursor: pointer;
}
