.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerHeader{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.containerRight{
  width: 100%;
  height: 100%;
}

.containerForm{
  /*height: 100%;*/
  padding-left: 18%;
  padding-right: 18%;
}

.tabs{
 box-shadow: none !important;
}

.tab{
  border-bottom: 2px solid #744D9C;
  width: 163px;
  text-align: center;
  color: #000000;
  margin-left: 30px;
  line-height: 30px;
}

.left {
  background-color:  #744D9C;
  width: 420px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  display: flex;
  flex: 1;
}
