.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.containerRight {
  width: 100%;
  height: 100%;
}

.containerForm {
  /*height: 100%;*/
  padding-left: 18%;
  padding-right: 18%;
}

.tabs {
  box-shadow: none !important;
}

.tab {
  border-bottom: 2px solid #744D9C;
  width: 163px;
  text-align: center;
  color: #000000;
  margin-left: 30px;
  line-height: 30px;
}

.left {
  background-color: #744D9C;
  width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-top: 14px;
}

.description {
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  margin-top: 21px;
  margin-left: 60px;
  margin-right: 40px;
}

.containerRounds {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.roundInactive {
  width: 7px;
  height: 7px;
  background: #CFB8E7;
  border-radius: 50px;
  margin-left: 7px;
  cursor: pointer;
}

.roundActive {
  background: #FFFFFF;
  width: 11px;
  height: 11px;
  margin-left: 7px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -2px;
}

.header {
  width: 100%;
  display: flex;
  flex: 1;
}
