.PrincipaisPerfis-Perfis{
    width: 100%;
    display: flex;
 
    align-items: center;
    overflow: auto;
}
.PositiveIcon{
    color: #01a561;
    
}
.NegativeIcon{
    color: #ff6767;
}
.PrincipaisPerfis-Perfis .name{
    overflow: hidden;
    width: 200px;
    height: 20px;
    font-size: 12px !important;
    font-weight: bolder !important;
    color: #616161 !important;
}

.PrincipaisPerfis-Perfis .name p{
   
    font-size: 12px !important;
    font-weight: bold !important;
    color: #616161 !important;
}
.PrincipaisPerfis-Perfis .MuiTypography-body1{
    font-size: 12px !important;
}
.MuiBadge-root .number{
 font-size: 12px;
 font-weight: bolder;
 padding: 0px;
 overflow: hidden;
}
.MuiBadge-root .teor{
    padding: 0px;
    margin-left: 5px;
    margin-right: 20px;
   }

.coluna_dados{
display:flex;
   }