.Fontes2Card{
    width: 100%;
    height:350px !important;
    background-color: white;
    padding: 10px;
    border-radius: 10px !important;
}

.ItensFont2{
}
.NameItemFont2{
    font-size: 10px !important;
}
.ItemFont2{
    padding: 0px !important;
    justify-content: space-between;
    display: flex;
    height: 40px !important;
    align-items: center;
    font-weight: bold;
    color: #616161;
}
.iconFont2 .icon{
    width: 20px;
    margin: 10px;
    color:#616161;
}

.iconFont2 .icon2{
    width: 20px;
    
    margin: 10px;
    color:#616161;
}


.NameItemFont2{
    font-size: 12px !important;
    margin: 10px;
    margin-top: 15px;
    color:#616161 !important;
}
.NumberFont2{
    font-size: 10px;
    margin: 10px;
    font-weight: bolder !important;
}

.ProfitFont2{
    font-size: 12px !important;
    font-weight: bolder !important;
    color:#616161 !important;
}

.IconNameFont2{
    width: 300px;
    display: flex;
}
.ProfitFont2{
    font-weight: normal;
    font-size: 12px !important;
}