.card-DividerBarGraph{
    min-width:350px !important;

    width: 100%;
    height: 400px;
    padding-top: 10px;
}

.recharts-text{
    fill: grey !important;
    font-size: 6pt;
}

.recharts-legend-item-text{
    font-size: 15px;
    font-weight: bolder;
    fill: grey !important;

}

.card-DividerBarGraph .recharts-default-legend{
    margin-left: 20% !important;
}
