.Recomendados{
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 10px !important;
}

.AreaTab{
    overflow: auto !important;
    height: 435px !important;
}

.tab-content{
    width: 100% !important;
    padding-left: 10px;
    height: 440px !important;
    margin: 10px;
}