.LineChart{
    background-color: white;
}

.card-linechart-inicio{
    background-color: white;
    width: 100% !important;
    padding-top: 10px;
    color: rgb(56, 56, 56);
    border-radius: 10px;
}
.tituloCard{
font-size: 14px !important;
font-weight: bolder !important;
color: #505050 !important;
}
.recharts-text {
  font-size: 1.0rem !important;
  font-family: Roboto, sans-serif;
}
